extends ../layout

block content
  div.container.mt-4
    form
        label.form-label(for="title")= "제목"
        input#title.form-control(type="text" placeholder="제목" value=`${post.title}` readonly)

        label.form-label(for="writer")= "작성자"
        input#writer.form-control(type="text" placeholder="작성자" value=`${post.writer}` readonly)

        label.form-label(for="content")= "본문"
        textarea#content.form-control(type="text" placeholder="본문" rows=6 readonly)= post.content

    button.btn.btn-secondary.float-end(type="button" onclick="location.href = '/posts'")= "목록"
    button.btn.btn-danger.float-end(type="button" onclick=`deletePost(${post_id})`)= "삭제"
    button.btn.btn-primary.float-end(type="button" onclick=`location.href = '/posts/write?post_id=${post_id}'`)= "수정"

  script.
    async function deletePost(post_id) {
      const res = await fetch(`/api/posts/${post_id}`, {
        method: "DELETE",
      });
      
      const result = await res.json();
      if (result.message == "OK") {
        location.href = "/posts";
      } else {
        alert(result.message);
      }
    }